@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

* {
    font-family: Nunito;
}

/*overlay of the loading part TODO*/


.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;

}

/*spin spin */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.main-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    height: 90vh;


}

.input-container {
    border: 2px black solid;
    border-radius: 25px;
    width: 300px;

}

.input-group {
    margin: 20px;

}

.select-with-button {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
}


.select-with-button button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}


.select-with-button button:hover {
    background-color: #297fb8;
}


.rounded {
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.input-buttons {
    text-align: center;
    padding: 10px;
}

.input-buttons {
    text-align: center;
    padding: 10px;
}

.input-buttons input {
    margin: 12px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #3498db;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.input-buttons input:hover {
    background-color: #297fb8;

}

.input-message {
    text-align: center;
    color: red;
    font-size: 22px;
}

.message-fade {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.message-fade-hidden {
    opacity: 0;
    pointer-events: none;
}


.dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.dialog-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.dialog-content h2 {
    margin-top: 0;
}

.dialog-content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.dialog-content button {
    margin: 12px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #3498db;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* the task manager */

.box {
    width: 300px;
    min-height: 400px;
    margin: 20px;
    border: 2px dashed black;
}

.box-label {
    text-align: center;
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 0 auto;
    padding: 10px;
    width: 150px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;

}

/* Add new CSS rules */
.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    gap: 10px;
}

.col-1 {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.col-2 {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.due-date {
    justify-content: space-between;
}


.task-category {
    font-size: 12px;
    margin-top: 10px;
}

.due-date {
    font-size: 12px;
    align-self: flex-end;

}

.task-category {
    font-size: 12px;
}

.due-date {
    margin-top: 10px;
    font-size: 12px;
}

.priority-text {
    font-size: 12px;
}


#modify-button {
    background-image: url('images/modify_icon.png');
    background-size: cover;
}

#delete-button {
    background-image: url('images/delete_icon.png');
    background-size: cover;

}

#modify-button,
#delete-button {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    border: none;
    cursor: pointer;
}

.calendar-icon {
    background-image: url('images/calendar_icon.png');
    background-size: cover;
}

.priority-icon {
    background-image: url('images/priority_icon.png');
    background-size: cover;
}

.calendar-icon,
.priority-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}