@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap');


* {
    font-family: Roboto;
}

#login-form, #login-form fieldset
#signup-form, #signup-form fieldset{
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    position: absolute;

}

#login-form fieldset,
#signup-form fieldset  {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 70px;
    box-sizing: border-box;
}

/*inputs*/

#login-form input,
#signup-form input {
    padding: 15px 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 13px;
}

.input-container {
    position: relative;
}

.input-container i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.input-container i.uil-user,
.input-container i.password,
.input-container i.email{
    left: 0;
    padding: 5px 5px 15px;
}


/*buttons*/
#login-form .action-button,
#signup-form .action-button {
    width: 100px;
    background: #111e88;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px;
    margin: 10px 5px;
    text-decoration: none;
    font-size: 16px;
}

/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

/* option-field */
#login-form a,
#signup-form a{
    color:#111e88;
    font-size: 12px;
    text-decoration: none;
}
.option-field{
   margin-top: 5px;
   display: flex;
   align-items: center;
   justify-content: space-between; 
}

.checkbox{
    display: flex;
    white-space: nowrap;
    font-size: 12px;
    align-items: center;
}

/* signup */
.login-signup{
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}

#signup-form{
    display: none;
}

#signup-form.active{
   display: block;
}