body {
    font-family: Arial, sans-serif;
    background-color: #A23E48;
    display: flex;
    padding-right: 100px;
    justify-content: right;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.center-box {
    display: flex;
    align-items: right;
    height: 100%;
}

.login-container {
    background-color: #FFFFFF;
    width: 40%;
    height: 400px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: #A23E48;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"] {
    margin: 10px 0;
    padding: 15px; 
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 18px; 
}

button {
    padding: 15px;
    margin-top: 75px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

body {
    background-color: #C3C3C3;
    background-position: left;
    background-repeat: no-repeat;
}

.bg-image {
    padding-right: 400px;
    color: #ccc;
}

.bg-image .white-text {
    color: white; 
    text-shadow: #7c041e;
    padding-left: 200px;
}

.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left-section {
    background-color: #C3C3C3;
    background-image: url('branch.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 70%;
    height: 100vh;
    float: left;
}


.left-section p:first-child {
    font-size: 50px; 
    text-align: center; 
    color: #FFF; 
    text-shadow: 2px 2px 4px #000; 
}

.left-section p:last-child {
    margin-top: 500px;
    font-size: 30px; 
    text-align: center; 
    color: #FFF;
    text-shadow: 2px 2px 4px #000; 
}



.vertical-line {
    width: 1px;
    background-color: #C3C3C3;
    height: 100%;
    float: left;
}

.clear {
    clear: both;
}







